@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #212121;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    cursor:none;
}
html {
  scroll-behavior: smooth;
}
